
*.kpt
*.qmsg
*.cdb
*.hdb
*.rdb
*.ddb
*.xml
*.bpm
*.idb
*.logdb
*.hsd
*.db_info
*.hier_info
*.hif
*.html
*.txt
*.ammdb
*.mif
*.sci
*.tdb
*.tmw_info
*.json
*.dfp
*.rcfdb
*.dpi
*.hb_info
*.sig
top_nuevo/incremental_db/README
*.rpt
*.cdf
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.sof
*.sft
*.svo
*.xrf
